<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact</title>
</head>
<body>
<div class="row">
    <ul class="collection with-header">
        <div>
            <li class="collection-header">
                <h3><a href="/contacts">Contact</a></h3>
            </li>
        </div>
        <li class="collection-item">
            <div>
                <h5>Name</h5>
                <p th:text="${contact.name}"></p>
            </div>
            <div>
                <h5>Last Name</h5>
                <p th:text="${contact.lastName}"></p>
            </div>
            <div>
                <h5>Age</h5>
                <p th:text="${contact.age}"></p>
            </div>
        </li>
    </ul>
</div>

</body>
</html>